{% load static %}



<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>БЕЛХИМПРОФСОЮЗ</title>

  <!-- Bootstrap core CSS -->
  <link rel='stylesheet' href="{% static 'vendor/bootstrap/css/bootstrap.min.css'  %}">

  <!-- Custom fonts for this template -->
  <link rel='stylesheet' type='text/css' href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link rel='stylesheet' href="{% static 'css/clean-blog.min.css'  %}">

</head>

<body>
  <!-- Page Header -->
  <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/#home">БЕЛХИМПРОФСОЮЗ ГРОДНО</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/#home">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#blog">Статьи</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/#contact">Контакты</a>
            </li>
          </ul>
        </div>
      </nav>
  </header>

  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ post.title }}</h1>
            <span class="meta">Posted by
              <a href="#">{{ post.published_date }}</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>{{ post.text|safe }}</p>
            {% if post.image %}
                <img src="{{post.image.url}}">
            {% endif %}
        </div>
      </div>
    </div>
  </article>



  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/clean-blog.min.js' %}"></script>

</body>

</html>
